.small-prf-img {
	width: 48px;
	height: 48px;
}
.cade-o-elemento {
	border-style: solid;
	border-color: black;
	border-width: 1px;
}
#side-menu > li > ul > li > a:focus {
  background-color: #1ab394;
  color: white;
}

#side-menu > li > ul > li.active {
  border-left: hidden;
  background-color: #1ab394;
}

#side-menu > li > a:focus {
  background-color: #1ab394;
  color: white;
}

#side-menu > li.active {
  border-left: hidden;
  background-color: #1ab394;
}

.eo-floating {
  position: fixed;
  bottom: 70px;
  right: 20px;
  z-index: 100;
}

.select2-close-mask{
    z-index: 2099;
}
.select2-dropdown{
    z-index: 3051;
}

.modal-body > .sk-spinner {
  display: none;
}
.modal-body.sk-loading {
  position: relative;
}
.modal-body.sk-loading:after {
  content: '';
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.modal-body.sk-loading > .sk-spinner {
  display: block;
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  z-index: 10000000;
}

.navbar-static-top {
  background: #2f4050;
}

.ui-helper-hidden-accessible {
  display: none;
}
