<div style="display: block; margin: 0 auto; width: 320px; height: 150px; overflow: hidden;">
	<img src="img/VinciEyesOn.svg" alt="Vinci Logo" style="width: 100%; display: block; margin: 0 auto;">
</div>

<div class="middle-box text-center loginscreen animated fadeInDown">
    <div>
        <form class="m-t" id="eo-login-form">
            <div class="form-group">
                <input type="email" name="email" class="form-control" placeholder="Email"  required="">
            </div>
            <div class="form-group">
                <input type="password" name="pwd" class="form-control" placeholder="Password"  required="">
            </div>
            <button type="button" id="eo-login-btn" class="btn btn-primary block full-width">Login</button>
			<a href="recover_password.html"><small>Forgot password?</small></a>
			<p> </p>
			
			<a class="btn btn-sm btn-white btn-block" href="register.html">Request Access</a>

        </form>
        <p class="pull-right"> <strong>Copyright</strong> &copy; 2014-2017 Vinci Aeronáutica </p>
    </div>
</div>
