<div class="ibox float-e-margins col-lg-12">
    <div class="ibox-title">
        <h5>Inspection Photos</h5>
    </div>
    <div class="ibox-content">
    	<!-- Loading element -->
    	<div class="sk-spinner sk-spinner-double-bounce">
            <div class="sk-double-bounce1"></div>
            <div class="sk-double-bounce2"></div>
        </div>

    	<!-- Top buttons -->
        <div class="row">
			<div class="col-sm-6">
			    <div>
				    <button class="btn btn-primary eo-confirm-btn" type="button"><i class="fa fa-upload"></i></button>
				    <button class="btn btn-default eo-cancel-btn" type="button">Back</button>
				</div>
			</div>
		</div>

    	<!-- Physical Inspection session -->
		<div class="row m-t-md">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">			
				<label>Physical Inspection</label>
	        
				<div class="btn-group">
		            <button data-toggle="dropdown" class="btn btn-default btn-outline btn-circle dropdown-toggle"><i class="fa fa-plus"></i></button>
		            <ul class="dropdown-menu">
		                <li><a href="#" class="eo-photo-physical-btn"><i class="fa fa-camera"></i> Camera</a></li>
		                <li><a href="#" class="eo-gallery-physical-btn"><i class="fa fa-picture-o"></i> Gallery</a></li>
		            </ul>
		        </div>
	        </div>
		</div>

		<div class="row" id="eo-gallery-physical"></div>

    	<!-- Documents session -->
		<div class="row m-t-md">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">			
				<label>Documents</label>
				
				<div class="btn-group">
		            <button data-toggle="dropdown" class="btn btn-default btn-circle btn-outline dropdown-toggle"><i class="fa fa-plus"></i></button>
		            <ul class="dropdown-menu">
		                <li><a href="#" class="eo-photo-document-btn"><i class="fa fa-camera"></i> Camera</a></li>
		                <li><a href="#" class="eo-gallery-document-btn"><i class="fa fa-picture-o"></i> Gallery</a></li>
		            </ul>
		        </div>
	        </div>
		</div>

		<div class="row" id="eo-gallery-document"></div>

    	<!-- Endpage buttons -->
		<div class="row m-t-md">
			<div class="col-sm-6 pull-right">
			    <div class="pull-right">
				    <button class="btn btn-primary eo-confirm-btn" type="button"><i class="fa fa-upload"></i></button>
				    <button class="btn btn-default eo-cancel-btn" type="button">Back</button>
				</div>
			</div>
		</div>
    </div>
</div>



