<div class="ibox float-e-margins col-lg-12">
    <div class="ibox-title">
        <h5>Add Aircraft</h5>
    </div>
    <div class="ibox-content">
        <div class="sk-spinner sk-spinner-double-bounce">
            <div class="sk-double-bounce1"></div>
            <div class="sk-double-bounce2"></div>
        </div>
        <form id="add_aircraft_form" class="form-horizontal">
            <div class="form-group">
                <div class="row p-w-sm">
                    <label class="col-sm-2 control-label">Registry (Marks)</label>
                    <div class="col-sm-4"><input type="text" placeholder="" class="form-control eo-input-registry" name="registry" maxlength="10"></div>
                    
                    <label class="col-sm-2 control-label">Serial Number</label>
                    <div class="col-sm-4"><input type="text" placeholder="" class="form-control eo-input-serial" name="serial" maxlength="20"></div>
                </div>
            
                <div class="row p-w-sm">
                    <label class="col-sm-2 control-label"><center>Model</center></label>
                    <div class="col-sm-4"><input type="text" placeholder="" class="form-control eo-input-model" name="model" maxlength="30"></div>
                </div>

            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
                <div class="col-sm-4 pull-right">
                    <div class="pull-right">
                        <button class="btn btn-primary btn-lg eo-confirm-btn" type="button"><i class="fa fa-check"></i></button>
                        <button class="btn btn-default btn-lg eo-cancel-btn" type="button">Cancel</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
