<div class="ibox float-e-margins col-lg-12">
    <div class="ibox-title">
        <h5>Add Airport</h5>
    </div>
    <div class="ibox-content">
        <div class="sk-spinner sk-spinner-double-bounce">
            <div class="sk-double-bounce1"></div>
            <div class="sk-double-bounce2"></div>
        </div>
        <form id="add_base_form" class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label">Country</label>
                <div class="col-sm-4"><select class="form-control eo-list-country select2" name="country_id"></select></div>
                
                <label class="col-sm-2 control-label">City</label>
                <div class="col-sm-4"><input type="text" placeholder="" class="form-control eo-input-city" name="city" maxlength="50"></div>
            
                <label class="col-sm-2 control-label"><center>Aerodrome</center></label>
                <div class="col-sm-4"><input type="text" placeholder="" class="form-control eo-input-aerodrome" name="aerodrome" maxlength="50"></div>


            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
                <div class="col-sm-4 pull-right">
                    <div class="pull-right">
                        <button class="btn btn-primary btn-lg eo-confirm-btn" type="button"><i class="fa fa-check"></i></button>
                        <button class="btn btn-default btn-lg eo-cancel-btn" type="button">Cancel</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
