<div class="ibox float-e-margins col-lg-12">
    <div class="ibox-title">
        <h5>Add Business Rule</h5>
    </div>
    <div class="ibox-content">
    	<div class="sk-spinner sk-spinner-double-bounce">
            <div class="sk-double-bounce1"></div>
            <div class="sk-double-bounce2"></div>
        </div>
    	<div class="row">
			<form id="add_commercial_condition_form" class="form-horizontal">
			    <div class="form-group">
			        <div class="col-sm-12"><input type="text" placeholder="Title" class="form-control eo-input-title" name="title" maxlength="300"></div>
			    </div>
			</form>
		</div>
		
		<div class="row">
			<div class="summernote col-sm-12 eo-text-description"></div>
		</div>

		<div class="row m-t-md">
			<div class="col-sm-4 pull-right">
			    <div class="pull-right">
				    <button class="btn btn-primary btn-lg eo-confirm-btn" type="button"><i class="fa fa-check"></i></button>
				    <button class="btn btn-default btn-lg eo-cancel-btn" type="button">Cancel</button>
				</div>
			</div>
		</div>
    </div>
</div>



