<div class="ibox float-e-margins col-lg-12">
    <div class="ibox-title">
        <h5>Add User</h5>
    </div>
    <div class="ibox-content">
        <div class="sk-spinner sk-spinner-double-bounce">
            <div class="sk-double-bounce1"></div>
            <div class="sk-double-bounce2"></div>
        </div>
        <form id="add_user_form" class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label">Full Name</label>
                <div class="col-sm-10"><input type="text" class="form-control eo-input-name" name="name" maxlength="150"></div>
            </div>
            <div class="form-group">
                <div class="row p-w-sm">
                    <label class="col-sm-2 control-label">E-mail</label>
                    <div class="col-sm-4"><input type="e-mail" class="form-control eo-input-email" name="email" maxlength="140"></div>

                    <label class="col-sm-2 control-label">Phone Number</label>
                    <div class="col-sm-4"><input type="tel" class="form-control eo-input-tel" name="tel" required></div>
                </div>
            </div>

            <div class="hr-line-dashed"></div>

            <div class="form-group">
                <label class="col-md-2 control-label">Company</label>
                <div class="col-md-4">
                    <select class="form-control eo-list-company" name="company_id"></select>
                </div>
            </div>

            <div class="hr-line-dashed"></div>

            <div class="form-group">
                <label class="col-md-2 control-label">EyesOn Profile</label>
                <div class="col-md-4">
                    <select class="form-control" name="profile">
                        <option value="inspector">Inspector</option>
                        <option value="project Manager">Project Manager</option>
                        <option value="admin">Admin</option>
                        <option value="client">Client</option>
                    </select>
                </div>
                
                <label class="col-md-2 control-label">Role</label>
                <div class="col-md-4">
                    <select class="form-control" name="role">
                        <option value="Inspector" selected="selected">Inspector</option>
                        <option value="Manager">Manager</option>
                        <option value="Fleet Manager">Fleet Manager</option>
                        <option value="Senior Vice President">Senior Vice President</option>
                        <option value="COO">COO</option>
                        <option value="CTO">CTO</option>
                        <option value="Developer">Developer</option>
                        <option value="CEO">CEO</option>
                        <option value="CFO">CFO</option>
                        <option value="Administrator">Administrator</option>
                        <option value="Engineer">Engineer</option>
                        <option value="Pilot">Pilot</option>
                    </select>
                </div>
            </div>

            <div class="hr-line-dashed"></div>
            
            <div class="form-group">
                <label class="col-md-2 control-label">Password</label>
                <div class="col-md-4"><input type="password" class="form-control" name="password" pattern=".{8,24}" required></div>
                
                <label class="col-md-2 control-label">Confirm Password</label>
                <div class="col-md-4"><input type="password" class="form-control" name="confirm_password" pattern=".{8,24}" required></div>
            </div>

            <div class="form-group">
                <div class="col-sm-4 pull-right m-b-md">
                    <div class="pull-right">
                        <button class="btn btn-primary btn-lg eo-confirm-btn" type="button"><i class="fa fa-check"></i></button>
                        <button class="btn btn-default btn-lg eo-cancel-btn" type="button">Cancel</button>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>