<div class="ibox float-e-margins col-lg-12">
    <div class="ibox-title">
        <h5>Update Inspection</h5>
    </div>
    <div class="ibox-content">
        <div class="sk-spinner sk-spinner-double-bounce">
            <div class="sk-double-bounce1"></div>
            <div class="sk-double-bounce2"></div>
        </div>
        <form id="update_client_inspection_form" class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label">Aircraft</label>
                <div class="col-sm-4">
                    <select class="form-control eo-list-aircraft" multiple="multiple" name="aircraft[]"></select>
                </div>

                <div class="col-sm-6">
                    <div class="pull-right">
                        <button class="btn btn-primary btn-lg eo-confirm-btn" type="button"><i class="fa fa-check"></i></button>
                        <button class="btn btn-default btn-lg eo-cancel-btn" type="button">Cancel</button>
                    </div>
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">

                <label class="col-sm-2 control-label">Airport</label>
                <div class="col-sm-4">
                    <select class="form-control eo-list-base" name="base"></select>
                </div>

                <label class="col-sm-2 control-label">Business Rule</label>
                <div class="col-sm-4">
                    <select class="form-control eo-list-commercial_condition" name="commercial_condition"></select>
                </div>
            </div>

            <div class="hr-line-dashed"></div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Work Scope</label>
                <div class="col-sm-4">
                    <select class="eo-list-scope" multiple="multiple" name="services[]"></select>
                </div>
            </div>
        </form>

        <div class="hr-line-dashed"></div>
        <div class="row">
            <label class="col-sm-2 control-label p-xs">Additional Info</label>
        </div>
        <div class="row">
            <div class="summernote eo-text-other"></div>
        </div>
        
        <div class="hr-line-dashed"></div>
        <div class="row">
            <div class="pull-right">
                <button class="btn btn-primary btn-lg eo-confirm-btn" type="button"><i class="fa fa-check"></i></button>
                <button class="btn btn-default btn-lg eo-cancel-btn" type="button">Cancel</button>
            </div>
        </div>
    </div>
</div>

