<div class="ibox float-e-margins col-lg-12">
    <div class="ibox-title">
        <h5>Update Profile</h5>
    </div>
    <div class="ibox-content">
        <div class="sk-spinner sk-spinner-double-bounce">
            <div class="sk-double-bounce1"></div>
            <div class="sk-double-bounce2"></div>
        </div>
        <form id="update_user_form" class="form-horizontal">
            <div class="form-group">
                <div class="col-md-6">
                    <button class="btn btn-primary" id="btn_confirm_update" type="button"><i class="fa fa-check"></i></button>
                    <button class="btn btn-default" id="btn_cancel_update" type="button">Cancel</button>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Full Name</label>
                <div class="col-md-4"><input id="user_name" type="text" class="form-control eo-input-name" name="name" maxlength="150"></div>
                          
                <label class="col-md-2 control-label">E-mail</label>
                <div class="col-md-4"><input id="user_email" type="e-mail" placeholder="" class="form-control eo-input-email" name="email" maxlength="140" value=""></div>

                <label class="col-md-2 control-label">Phone Number</label>
                <div class="col-md-4"><input id="user_phone" type="tel" class="form-control eo-input-tel" name="tel" value="" placeholder="" required></div>
            </div>

            <div class="hr-line-dashed"></div>
            <div class="form-group">

                <label class="col-md-2 control-label">Role</label>
                <div class="col-md-4">
                    <select class="form-control" id="user_role" name="role">
                        <option value="Inspector">Inspector</option>
                        <option value="Manager">Manager</option>
                        <option value="Developer">Developer</option>
                        <option value="CEO">CEO</option>
                        <option value="CFO">CFO</option>
                        <option value="Administrator">Administrator</option>
                        <option value="Engineer">Engineer</option>
                        <option value="Pilot">Pilot</option>
                    </select>
                </div>
            </div>

            <div class="hr-line-dashed"></div>
        </form>
