<div class="ibox float-e-margins col-lg-12">
    <div class="ibox-title">
        <h5>Update Inspection</h5>
    </div>
    <div class="ibox-content">
        <div class="sk-spinner sk-spinner-double-bounce">
            <div class="sk-double-bounce1"></div>
            <div class="sk-double-bounce2"></div>
        </div>
        <form id="update_inspection_form" class="form-horizontal">
            <div class="form-group">
                <div class="row p-w-sm">
                    <label class="col-sm-2 control-label">Status</label>
                    <div class="col-sm-4">
                        <select class="form-control eo-list-inspection_status" name="status"></select>
                    </div>
                    <div class="col-sm-6">
                        <div class="pull-right">
                            <button class="btn btn-primary btn-lg eo-confirm-btn" type="button"><i class="fa fa-check"></i></button>
                            <button class="btn btn-danger btn-lg eo-remove-btn" type="button"><i class="fa fa-trash-o"></i></button>
                            <button class="btn btn-default btn-lg eo-cancel-btn" type="button">Cancel</button>
                        </div>
                    </div>
                </div>
                <div id="eo-air-num-wrapper" class="row p-w-sm" style="display: none;">
                    <label class="control-label col-sm-2">AIR Number</label>
                    <div class="col-sm-4"><input class="form-control eo-input-air" type="num" name="air"></div>
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
                <div class="row p-w-sm">
                    <label class="col-sm-2 control-label">Client</label>
                    <div class="col-sm-4">
                        <select class="form-control eo-list-company" name="contractor"></select>
                    </div>

                    <label class="col-sm-2 control-label">Aircraft</label>
                    <div class="col-sm-4">
                        <select class="form-control eo-list-aircraft" multiple="multiple" name="aircraft[]"></select>
                    </div>
                </div>
                <div class="row p-w-sm">
                    <label class="col-sm-2 control-label">Air Operator</label>
                    <div class="col-sm-4">
                        <select class="form-control eo-list-operator" name="operator"></select>
                    </div>
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">

                <label class="col-sm-2 control-label">Base</label>
                <div class="col-sm-4">
                    <select class="form-control eo-list-base" name="base"></select>
                </div>

                <label class="col-sm-2 control-label">Business Rule</label>
                <div class="col-sm-4">
                    <select class="form-control eo-list-commercial_condition" name="commercial_condition"></select>
                </div>
            </div>

            <div class="hr-line-dashed"></div>
            <div class="form-group" id="dates">
                <div class="col-sm-6">
                    <label class="col-sm-4 control-label">Inspection Date</label>
                    <div class="col-sm-8 input-daterange input-group">
                        <input type="text" class="input-sm form-control eo-input-start_date" name="start_date">
                        <span class="input-group-addon">to</span>
                        <input type="text" class="input-sm form-control eo-input-end_date" name="end_date">
                    </div>
                </div>

                <label class="control-label col-sm-2">Client Deadline</label>
                <div class="col-sm-4"><p class="form-control-static eo-static-deadline"></p></div>
            </div>

            <div class="hr-line-dashed"></div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Work Scope</label>
                <div class="col-sm-4">
                    <select class="eo-list-scope" multiple="multiple" name="services[]"></select>
                </div>

                <div class="col-sm-6">
                    <label class="col-sm-4 control-label">Assigned Inspectors</label>
                    <div class="col-sm-8">
                        <select class="form-control eo-list-employee"  multiple="multiple" name="employee[]"></select>
                    </div>
                </div>
            </div>
        </form>

        <div class="hr-line-dashed"></div>
        <div class="row">
            <label class="col-sm-2 control-label p-xs">Additional Info</label>
        </div>
        <div class="row">
            <div class="summernote eo-text-other"></div>
        </div>
        
        <div class="hr-line-dashed"></div>
        <div class="row">
            <div class="pull-right">
                <button class="btn btn-primary btn-lg eo-confirm-btn" type="button"><i class="fa fa-check"></i></button>
                <button class="btn btn-danger btn-lg eo-remove-btn" type="button"><i class="fa fa-trash-o"></i></button>
                <button class="btn btn-default btn-lg eo-cancel-btn" type="button">Cancel</button>
            </div>
        </div>
    </div>
</div>

