<div class="ibox float-e-margins col-lg-12">
    <div class="ibox-title">
        <h5>Update Company</h5>
    </div>
    <div class="ibox-content">
        <div class="sk-spinner sk-spinner-double-bounce">
            <div class="sk-double-bounce1"></div>
            <div class="sk-double-bounce2"></div>
        </div>
        <form id="update_company_form" class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label">Name</label>
                <div class="col-sm-10"><input type="text" class="form-control eo-input-name" name="name" maxlength="150" value=""></div>
                <label class="col-sm-2 control-label">Abbreviation</label>
                <div class="col-sm-10"><input type="text" class="form-control eo-input-abbr" name="abbr" minlength="3" maxlength="3" value=""></div>
            </div>
            <div class="form-group">
                <div class="row p-w-sm">
                    <label class="col-sm-2 control-label">Phone Number</label>
                    <div class="col-sm-4"><input type="tel" class="form-control eo-input-tel" name="tel" required></div>
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Country</label>
                <div class="col-sm-4">
                    <select class="form-control eo-list-country" name="country_id"></select>
                </div>
                
                <label class="col-sm-2 control-label">City</label>
                <div class="col-sm-4"><input type="text" class="form-control eo-input-city" name="city" maxlength="50" value=""></div>

                <label class="col-sm-2 control-label">State/Province</label>
                <div class="col-sm-4"><input type="text" class="form-control eo-input-state" name="state" maxlength="50"></div>
                
                <label class="col-sm-2 control-label">Zip (if applicable)</label>
                <div class="col-sm-4"><input type="text" class="form-control eo-input-zip" name="zip" maxlength="50" value=""></div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Address</label>
                <div class="col-sm-10"><input type="text" class="form-control eo-input-address" name="address" maxlength="128" value=""></div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
                <div class="pull-right">
                    <button class="btn btn-lg btn-primary" id="eo-confirm-btn" type="button"><i class="fa fa-check"></i></button>
                    <button class="btn btn-lg btn-default eo-cancel-btn" type="button">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>
