<div class="ibox float-e-margins col-lg-12">
    <div class="ibox-title">
        <h5>Update Air Operator</h5>
    </div>
    <div class="ibox-content">
        <div class="sk-spinner sk-spinner-double-bounce">
            <div class="sk-double-bounce1"></div>
            <div class="sk-double-bounce2"></div>
        </div>
        <form id="update_operator_form" class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label">Operator Name</label>
                <div class="col-sm-10"><input type="text" class="form-control eo-input-name" name="name" maxlength="150"></div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
                <div class="row p-w-sm">
                    <label class="col-sm-2 control-label">Country</label>
                    <div class="col-sm-4"><select class="form-control eo-list-country" name="country_id"></select></div>
                    
                    <label class="col-sm-2 control-label">City</label>
                    <div class="col-sm-4"><input type="text" class="form-control eo-input-city" name="city" maxlength="50"></div>
                </div>

                <div class="row p-w-sm m-t-sm">
                    <label class="col-sm-2 control-label">State/Province</label>
                    <div class="col-sm-4"><input type="text" class="form-control eo-input-state" name="state" maxlength="50"></div>
                    
                    <label class="col-sm-2 control-label">Zip (if applicable)</label>
                    <div class="col-sm-4"><input type="text" class="form-control eo-input-zip" name="zip" maxlength="50"></div>
                </div>

                <div class="row p-w-sm m-t-sm">
                    <label class="col-sm-2 control-label">Address</label>
                    <div class="col-sm-10"><input type="text" class="form-control eo-input-address" name="address" maxlength="128"></div>
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
                <div class="row p-w-sm">
                    <label class="col-sm-2 control-label">Contact Name</label>
                    <div class="col-sm-4"><input type="text" class="form-control eo-input-contact_name" name="contact_name" maxlength="150"></div>

                    <label class="col-sm-2 control-label">E-mail</label>
                    <div class="col-sm-4"><input type="e-mail" class="form-control eo-input-email" name="email" maxlength="140"></div>
                </div>

                <div class="row p-w-sm m-t-sm">
                    <label class="col-sm-2 control-label">Phone</label>
                    <div class="col-sm-4"><input type="tel" class="form-control eo-input-tel" name="tel" required></div>

                    <label class="col-md-2 control-label">Contact Role</label>
                    <div class="col-md-4">
                        <select class="form-control eo-input-contact_role" name="contact_role">
                            <option value="Inspector" selected="selected">Inspector</option>
                            <option value="Manager">Manager</option>
                            <option value="Fleet Manager">Fleet Manager</option>
                            <option value="Senior Vice President">Senior Vice President</option>
                            <option value="COO">COO</option>
                            <option value="CTO">CTO</option>
                            <option value="CEO">CEO</option>
                            <option value="CFO">CFO</option>
                            <option value="Administrator">Administrator</option>
                            <option value="Engineer">Engineer</option>
                            <option value="Pilot">Pilot</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
                <div class="pull-right p-w-sm">
                    <button class="btn btn-primary btn-lg eo-confirm-btn" type="button"><i class="fa fa-check"></i></button>
                    <button class="btn btn-danger sw-remove btn-lg eo-remove-btn" type="button"><i class="fa fa-trash-o"></i></button>
                    <button class="btn btn-default btn-lg eo-cancel-btn" type="button">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>
