<div class="ibox float-e-margins col-lg-12">
    <div class="ibox-title">
        <h5>Update Password</h5>
    </div>
    <div class="ibox-content">
        <div class="sk-spinner sk-spinner-double-bounce">
            <div class="sk-double-bounce1"></div>
            <div class="sk-double-bounce2"></div>
        </div>
        <form id="password_form" class="form-horizontal">
            <div class="form-group">
                <div class="col-md-4 pull-right">
                    <div class="pull-right">
                        <button class="btn btn-primary" id="btn_confirm_update" type="button"><i class="fa fa-check"></i></button>
                        <button class="btn btn-default" id="btn_cancel_update" type="button">Cancel</button>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Old Password</label>
                <div class="col-md-4"><input type="password" class="form-control" name="old_password" pattern=".{8,24}" required></div>

                <label class="col-md-2 control-label">New Password</label>
                <div class="col-md-4"><input type="password" class="form-control" name="new_password" pattern=".{8,24}" required></div>
                
                <label class="col-md-2 control-label">Confirm New Password</label>
                <div class="col-md-4"><input type="password" class="form-control" name="confirm_password" pattern=".{8,24}" required></div>
            </div>

            <div class="hr-line-dashed"></div>
            
        </form>
    </div>
</div>
