<div class="ibox float-e-margins col-lg-12">
    <div class="ibox-title">
        <h5>Update Work Scope</h5>
    </div>
    <div class="ibox-content">
        <div class="sk-spinner sk-spinner-double-bounce">
            <div class="sk-double-bounce1"></div>
            <div class="sk-double-bounce2"></div>
        </div>
        <form id="update_scope_form" class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label"><center>Name</center></label>
                <div class="col-sm-10"><input type="text" class="form-control eo-input-name" name="name" maxlength="150"></div>
            </div>
                
            <div class="hr-line-dashed"></div>
            <div class="form-group">
                <div class="pull-right">
                    <button class="btn btn-primary btn-lg eo-confirm-btn" type="button"><i class="fa fa-check"></i></button>
                    <button class="btn btn-danger btn-lg eo-remove-btn" type="button"><i class="fa fa-trash-o"></i></button>
                    <button class="btn btn-default btn-lg eo-cancel-btn" type="button">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>
