<div class="ibox float-e-margins col-lg-12">
    <div class="ibox-title">
        <h5>Aircraft</h5>
    </div>
    <div class="ibox-content">
        <div class="sk-spinner sk-spinner-double-bounce">
            <div class="sk-double-bounce1"></div>
            <div class="sk-double-bounce2"></div>
        </div>
        <div class="table-responsive">

            <input type="text" placeholder="Search" class="input-sm form-control m-t-xs m-b-xs" id="eo-aircraft-filter">

            <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="20" data-use-parent-width="true">

                <thead>
                <tr>
                    <th data-toggle="true">Registry</th>
                    <th>Model</th>
                    <th data-hide="phone">Serial</th>
                </tr>
                </thead>

                <tbody id="eo-table-content">
                </tbody>
            </table>

            <div>
                <button class="btn btn-default btn-sm eo-page-start" type="button">&lt;&lt;</button>
                <button class="btn btn-default btn-sm eo-page-prev" type="button">&lt;</button>
                <span id="eo-table-page"> 0 </span>
                <button class="btn btn-default btn-sm eo-page-next" type="button">&gt;</button>
                <button class="btn btn-default btn-sm eo-page-end" type="button">&gt;&gt;</button>
            </div>
        </div>
    </div>
</div>

