<div class="ibox float-e-margins col-lg-12">
	<div class="ibox-title"><h5>Inspection Schedule</h5></div>
	<div class="ibox-content">
		<div class="row m-b-sm m-t-sm">
			<div class="col-md-12">
	            <input type="text" placeholder="Filter by Client" class="input-sm form-control" id="eo-calendar-filter">
	        </div>
        </div>

		<div class="row">
			<div id="calendar"></div>
		</div>
	</div>
</div>
    