<div class="ibox float-e-margins col-lg-12">
    <div class="ibox-title">
        <h5>Inspections</h5>
    </div>
    <div class="ibox-content">
        <div class="table-responsive">

            <input type="text" class="form-control input-sm m-t-xs m-b-xs" id="filter" placeholder="Search">
            <label> <input type="checkbox" value="" checked="" id="eo-open-inspections-filter"> <i></i> AIR not Issued </label>
            <table class="footable table table-stripped toggle-arrow-tiny" data-paging="true" data-page-size="20" data-page-navigation=".pagination" data-use-parent-width="true" data-filter="#filter">

                <thead>
                <tr>
                    
                    <!--<th data-toggle="true">Client</th>-->
                    <th data-toggle="true">Aircraft</th>
                    <th data-hide="all">Air Operator</th>
                    <th data-hide="all">Airport</th>
                    <th data-hide="all">AIA</th>
                    <th data-hide="all">AIA Emission Date</th>
                    <th data-hide="all">AIR</th>
                    <th data-hide="all">AIR Emission Date</th>
                    <th data-hide="all">Assignment Date</th>
                    <th data-hide="all" data-visible="false">Start Date</th>
                    <th data-hide="all">End Date</th>
                    <th data-hide="all">Deadline</th>
                    <th data-hide="all">Business Rule</th>
                    <th data-hide="all">Work Scope</th>
                    <th data-hide="all">Additional Info</th>
                    <th data-hide="all">Inspectors</th>
                    <th>Status</th>
                    <th data-hide="all">Action</th>
                    
                </tr>
                </thead>

                <tbody id="eo-table-content"></tbody>

                <tfoot class="paging">
                <tr>
                    <td>
                        <ul class="pagination pull-left"></ul>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
