<div class="ibox float-e-margins col-lg-12">
    <div class="ibox-title">
        <h5>VINCI Users</h5>
    </div>
    <div class="ibox-content">
        <div class="sk-spinner sk-spinner-double-bounce">
            <div class="sk-double-bounce1"></div>
            <div class="sk-double-bounce2"></div>
        </div>
        <div class="table-responsive">

            <input type="text" class="form-control input-sm m-t-xs m-b-xs" id="filter" placeholder="Search">
            <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="20" data-use-parent-width="true" data-filter=#filter>

                <thead>
                <tr>
                    
                    <th data-toggle="true">Name</th>
                    <th data-hide="phone">E-mail</th>
                    <th data-hide="all">Phone</th>
                    <th>Profile</th>
                    <th data-hide="all">Role</th>
                    <th data-hide="all">Active</th>
                    <th>Action</th>
                </tr>
                </thead>

                <tbody id="eo-table-content"></tbody>
                
                <tfoot class="paging">
                    <tr>
                        <td>
                            <ul class="pagination pull-left"></ul>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>