<div class="ibox float-e-margins col-lg-12">
    <div class="ibox-title">
        <h5>User's Company</h5>
    </div>
    <div class="ibox-content">
        <form>
            <div class="col-md-12">
                <label class="control-label">Name</label>
                <p id="name" class="form-control-static"></p>
            </div>
            
            <div class="col-md-6">
                <label class="control-label">E-mail</label>
                <p id="email" class="form-control-static"></p>
            </div>

            <div class="col-md-6">
                <label class="control-label">Phone Number</label>
                <p id="tel" class="form-control-static"></p>
            </div>

            <div class="col-md-6">
                <label class="control-label">Contry</label>
                <p id="country" class="form-control-static"></p>
            </div>
            
            <div class="col-md-6">
                <label class="control-label">City</label>
                <p id="city" class="form-control-static"></p>
            </div>
            
            <div class="col-md-6">
                <label class="control-label">Address</label>
                <p id="address" class="form-control-static"></p>
            </div>
            
            <div class="col-md-6">
                <label class="control-label">Zip-Code</label>
                <p id="zip" class="form-control-static"></p>
            </div>
            
            <button class="btn btn-primary" id="update_company_btn" type="button"><i class="fa fa-pencil"></i></button>
        </form>
    </div>
</div>
