<div class="ibox float-e-margins col-lg-12">
    <div class="ibox-title">
        <h5>User Profile</h5>
    </div>
    <div class="ibox-content">
        <form>
            <div class="row">
                <div class="col-md-6">
                    <label class="control-label">Name</label>
                    <p id="name" class="form-control-static"></p>
                </div>
                
                <div class="col-md-6">
                    <label class="control-label">Company</label>
                    <p id="company" class="form-control-static"></p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <label class="control-label">E-mail</label>
                    <p id="email" class="form-control-static"></p>
                </div>

                <div class="col-md-6">
                    <label class="control-label">Phone Number</label>
                    <p id="tel" class="form-control-static"></p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <label class="control-label">EyesOn Profile</label>
                    <p id="profile" class="form-control-static"></p>
                </div>
                
                <div class="col-md-6">
                    <label class="control-label">Role</label>
                    <p id="role" class="form-control-static"></p>
                </div>
            </div>

            <div class="row">
                <div class="pull-right">
                    <button class="btn btn-primary" id="update_user_btn" type="button"><i class="fa fa-pencil"></i></button>
                    <button class="btn btn-default" id="update_pwd_btn" type="button">Change Password</button>
                </div>
            </div>
        </form>
    </div>
</div>