<div class="ibox float-e-margins col-lg-12">
    <div class="ibox-content">
        <div class="sk-spinner sk-spinner-double-bounce">
            <div class="sk-double-bounce1"></div>
            <div class="sk-double-bounce2"></div>
        </div>
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#tab-1">Existing Users</a></li>
            <li class=""><a data-toggle="tab" href="#tab-2">Pending Users</a></li>
        </ul>
        <div class="tab-content">
            <div id="tab-1" class="tab-pane active">
                <div class="full-height-scroll">
                    <div class="table-responsive">
                        <input type="text" class="form-control input-sm m-t-xs m-b-xs" id="users_filter" placeholder="Search">
                        <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="20" data-use-parent-width="true" data-filter="#users_filter">

                            <thead>
                            <tr>   
                                <th data-toggle="true">Name</th>
                                <th data-hide="phone">E-mail</th>
                                <th>Company</th>
                                <th data-hide="all">Phone</th>
                                <th data-hide="all">Profile</th>
                                <th data-hide="all">Role</th>
                                <th data-hide="all">Active</th>
                                <th>Action</th>
                            </tr>
                            </thead>

                            <tbody id="eo-table-content">
                            </tbody>

                            <tfoot class="paging">
                            <tr>
                                <td>
                                    <ul class="pagination pull-left"></ul>
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
            <div id="tab-2" class="tab-pane">
                <div class="full-height-scroll">
                    <div class="table-responsive">
                        <input type="text" class="form-control input-sm m-t-xs m-b-xs" id="pending_users_filter" placeholder="Search">
                        <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="20" data-use-parent-width="true" data-filter="#pending_users_filter">
                            <thead>
                            <tr>
                                
                                <th data-toggle="true">Name</th>
                                <th>Company</th>
                                <th data-hide="phone">E-mail</th>
                                <th data-hide="all">Phone</th>
                                <th>Verified</th>
                            </tr>
                            </thead>

                            <tbody id="eo-table-content-pending">
                            </tbody>

                            <tfoot class="paging">
                            <tr>
                                <td colspan="4">
                                    <ul class="pagination pull-right"></ul>
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>